// @import 'variables';
$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

.categories {
  width: 100%;
  ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width: 768px) {
      border-radius: 60px;
      padding: 6px;
      justify-content: center;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      background-color: #edeff1;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      @media (max-width: 768px) {
        padding: 8px 12px;
      }
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
